* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
}

:root {
    font-size: 62.5%;
}

body {
    display: flex;
    align-items: center;
    font-size: 1.6rem;
}

div {
    text-align: center;
}

h1 {
    color: #fff;
    font-size: 4.2rem;
    line-height: 1.4rem;
}

h2 {
    color: #fff;
    font-size: 3.5rem;
    margin-bottom: 1.2rem;
}

a {
    background-color: #ffd230;
    padding: 1.6rem 8rem;
    border-radius: 3.6rem;
    display: block;
    width: fit-content;
    margin: 0 auto;
    color: #FFF;
    font-size: 2.1rem;
    text-decoration: none;
}