* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    scroll-behavior: smooth;
    scroll-padding-top: 4rem;

}

:root {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
}

header {
    background: black;
    padding-block: 3rem;
    position: fixed;
    width: 100%;
}

nav {
    img {
        width: 4rem;
        object-fit: cover;
        position: absolute;
        left: 5%;
        top: 27%;
    }
}

.header-conteiner {
    max-width: 120rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 2rem;
}

header {
    height: 4rem;
    position: fixed;
    top: 0;
    width: 100%;
    background: black;
}

body {
    padding-top: 10rem;
    background-color: #ffecd5;
}

.header-conteiner ul {
    display: flex;
    gap: 5rem;
    list-style: none;
}

.header-conteiner a {
    color: #f8b51c;
    text-decoration: none;
}

.header-conteiner a:hover {
    transform: scale(1.1);
    font-weight: bold;
    transition: ease-in-out .4s;
}

.pergunta1{
    background-color: #df1b1b;
    padding: 2rem;
    border-radius: 2rem;
    margin: 2rem;
    strong{
        color: #fff;
        font-size: 2rem;
    }
}

.pergunta2{
    background-color: #135d3a;
    padding: 2rem;
    border-radius: 2rem;
    margin: 2rem;
    strong{
        color: #fff;
        font-size: 2rem;
    }
}

.pergunta3{
    background-color: #051157;
    padding: 2rem;
    border-radius: 2rem;
    margin: 2rem;
    strong{
        color: #fff;
        font-size: 2rem;
    }
}

.pergunta4{
    background-color: #000;
    padding: 2rem;
    border-radius: 2rem;
    margin: 2rem;
    strong{
        color: #fff;
        font-size: 2rem;
    }
}

.quiz{
    max-width:500px;
    margin:3rem auto;
    padding:2rem;
    border-radius:1.5rem;
  }
  
  .pergunta1,
  .pergunta2,
  .pergunta3,
  .pergunta4{
    margin-bottom:1.5rem;
    color: white;
    font-size: 1.9rem;
  }
  
  .pergunta1 input,
  .pergunta2 input,
  .pergunta3 input,
  .pergunta4 input{
    display:none;
  }
  
  .pergunta1 label,
  .pergunta2 label,
  .pergunta3 label,
  .pergunta4 label{
    display:block;
    padding:.6rem;
    margin:4rem;
    border-radius:.6rem;
    cursor:pointer;
  }
  
  .pergunta1 input:checked + label,
  .pergunta2 input:checked + label,
  .pergunta3 input:checked + label,
  .pergunta4 input:checked + label{
    background: #aaa8a0;
  }
  
  .certa::after{
    content:" ✓";
    color:rgb(1, 168, 1);
    font-weight:bold;
  }
  