* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    scroll-behavior: smooth;
    scroll-padding-top: 4rem;

}

:root {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
}

header {
    background: black;
    padding-block: 3rem;
    position: fixed;
    width: 100%;
}

nav {
    img {
        width: 4rem;
        object-fit: cover;
        position: absolute;
        left: 5%;
        top: 27%;
    }
}

.header-conteiner {
    max-width: 120rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 2rem;
}

header {
    height: 4rem;
    position: fixed;
    top: 0;
    width: 100%;
    background: black;
}

body {
    padding-top: 10rem;
    background-color: #ffecd5;
}

.header-conteiner ul {
    display: flex;
    gap: 5rem;
    list-style: none;
}

.header-conteiner a {
    color: #f8b51c;
    text-decoration: none;
}

.header-conteiner a:hover {
    transform: scale(1.1);
    font-weight: bold;
    transition: ease-in-out .4s;
}

.economiadiva{
    background: #145f3c;
    border-radius: 2rem;
    color: white;
    padding: 2.4rem;
    margin: 2rem;
}

.economiadiva h1{
    text-align: center;
    font-size: 3rem;
    margin-bottom: 2rem;
    margin: 2rem;
}

.economia-conteudo{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}


.divinha{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.divinha img{
    width: 50%;
    border-radius: 1rem;
}

.divona img{
    width: 70%;
    align-items: center;
    border-radius: 1rem;
}


p{
    font-size: 2rem;
    line-height: 1.5;
}

/* CAIXA DE TEXTO ESCURA */
.caixa-texto{
    background: #1248a0;
    padding: 1.5rem;
    border-radius: 1rem;
}